import styles from './index.module.scss'

const {{moduleName}} = (props) => {
	return (
		<div className={styles['{{moduleScssName}}-wrap']}>
			<div></div>
		</div>
	)
}
export default {{moduleName}}
