.content-sider {
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
}
.content-layout {
  margin: 20px;
}
.content-wrap {
  height: 100%;
  margin-left: 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
}
.icon {
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
}
.user-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  gap: 12px;
}
.menu-wrap {
  border-right: none;
}
